src/main/resources/bonner_korpora_train/Fnhd.dtd

<!-- DTD 
  zur XML-Version des Bonner Fruehneuhochdeutschkorpus, einer
  Umkodierung des EDV-Korpus Fruehneuhochdeutsch, das an der Bonner
  Forschungsstelle Fruehneuhochdeutsch fuer die Baende der Grammatik des
  Fruehneuhochdeutschen (H. Moser, H. Stopp, W.  Besch, Hrsg.) erstellt
  wurde.

  Vgl. hierzu u.a. 
  Lenders, Winfried und Klaus-Peter Wegera (Hrsg.): Maschinelle Auswer-
    tung sprachhistorischer Quellen. Sprache und Information 3. Niemeyer,
    Tuebingen, 1982. 
  Moser, Hugo, Hugo Stopp und Werner Besch (Hrsg.): Grammatik des
    Fruehneuhochdeutschen. Beitraege zur Laut- und Formenlehre, Bd. II-VI.
    Carl Winter Universitaetsverlag, Heidelberg.

Berhard Fisseni, 03/2002

-->
<!ELEMENT bibliographie         (Angabe_nr, datei, Basis, Zusatz?)>
<!ELEMENT       Basis           (Kurztitel, Titel, Quelle?, Hrsg?, Ersch?, Landschaft, Zeit, aufgenommen)>
<!ELEMENT       Zusatz          (Edit_Anm?, Vorlage?, Verfasser?, Uebersetzer?, Schreiber?, Drucker?, Textart, Edit_Eingr?)>
<!ELEMENT       Angabe_nr       (#PCDATA)>
<!ELEMENT       datei           (#PCDATA)>
<!ELEMENT       Kurztitel       (Autor?, Text)>
<!ELEMENT       Autor           (#PCDATA)>
<!ELEMENT       Text            (#PCDATA)>
<!ELEMENT       Titel           (#PCDATA)>
<!ELEMENT       Hrsg            (#PCDATA)>
<!ELEMENT       Quelle          (#PCDATA)>
<!ELEMENT       Ersch           (Art?, Eort?, Ejahr?, Reihe?, Band?, Druck?, Umfang?)>
<!ELEMENT       Art             (#PCDATA)>
<!ELEMENT       Eort            (#PCDATA)>
<!ELEMENT       Ejahr           (#PCDATA)>
<!ELEMENT       Reihe           (#PCDATA)>
<!ELEMENT       Band            (#PCDATA)>
<!ELEMENT       Druck           (#PCDATA)>
<!ELEMENT       Umfang          (#PCDATA)>
<!ELEMENT       Landschaft      (Sprachraum, Ort?)>
<!ELEMENT       Sprachraum      (#PCDATA)>
<!ELEMENT       Ort             (#PCDATA)>
<!ELEMENT       Zeit            (philnr, Jahr)>
<!ELEMENT       philnr          (#PCDATA)>
<!ELEMENT       Jahr            (#PCDATA)>
<!ELEMENT       Edit_Anm        (#PCDATA)>
<!ELEMENT       Vorlage         (#PCDATA)>
<!ELEMENT       Verfasser       (#PCDATA)>
<!ELEMENT       Uebersetzer     (#PCDATA)>
<!ELEMENT       Schreiber       (#PCDATA)>
<!ELEMENT       Drucker         (#PCDATA)>
<!ELEMENT       Textart         (#PCDATA)>
<!ELEMENT       aufgenommen     (#PCDATA)>
<!ELEMENT       Edit_Eingr      (#PCDATA | ul)*>
<!ELEMENT       ul              (li+)>
<!ELEMENT       li              (#PCDATA)>
<!ELEMENT       morph              (#PCDATA)>
<!ATTLIST bibliographie textnr CDATA #REQUIRED>

<!ELEMENT text
  (#PCDATA|bibliographie|name|seite|blatt|kapitel|zeile|wortform|eingriff|ueberschrift|emph|zitat)*>
<!ELEMENT zitat (#PCDATA|wortform|zeile|eingriff|seite|blatt|kapitel|emph)*>
<!ELEMENT ueberschrift (#PCDATA|wortform|zeile|eingriff|seite|blatt|kapitel|name|emph)*>
<!ELEMENT eingriff (#PCDATA|zeile|ueberschrift|seite|blatt|kapitel|wortform|emph)*>
<!ELEMENT emph (#PCDATA|zeile|ueberschrift|seite|blatt|kapitel|wortform|name)*>
<!ELEMENT name (#PCDATA|zeile|seite|blatt|kapitel|wortform)*>
<!ELEMENT zeile EMPTY>
<!ATTLIST zeile nr CDATA #REQUIRED>
<!ELEMENT seite EMPTY>
<!ATTLIST seite 
    nr CDATA  #REQUIRED
    spalte   CDATA     ""
    teil     CDATA    ""
    kennung ID  #REQUIRED
>
<!ELEMENT blatt EMPTY>
<!ATTLIST blatt 
    nr CDATA  #REQUIRED
    lage     CDATA         ""
    position (recto|verso|irrelevant) "irrelevant"
    spalte   CDATA     ""
    teil     CDATA    ""
    kennung ID  #REQUIRED
>
<!ELEMENT kapitel EMPTY>
<!ATTLIST kapitel 
    nr CDATA  #REQUIRED
    teil     CDATA    ""
>
<!ELEMENT trenn EMPTY>
<!ELEMENT wortform (morph|trenn|zeile)*>
<!-- 
     ZU DEN ATTRIBUTEN DES <WORTFORM>-TAGS:
    
     klasse:   Unterklassen sind nur bei Verben annotiert, und zwar:
     
          schwach - schwache Verben
 schwach_rueckuml - schwache Verben mit "Rueckumlaut"
              991 - gemischt schwach/stark flektierte Verben
              992 - gemischt schwach/stark flektierte Verben
          stark_0 - starke Verben Klasse 0
         stark_1a - starke Verben Klasse 1a
         stark_1b - starke Verben Klasse 1b
         stark_2a - starke Verben Klasse 2a
         stark_2b - starke Verben Klasse 2b
         stark_3a - starke Verben Klasse 3a
         stark_3b - starke Verben Klasse 3b
         stark_4a - starke Verben Klasse 4a
         stark_4b - starke Verben Klasse 4b
         stark_5a - starke Verben Klasse 5a
         stark_5b - starke Verben Klasse 5b
         stark_6a - starke Verben Klasse 6a
         stark_6b - starke Verben Klasse 6b
         stark_7a - starke Verben Klasse 7a
         stark_7b - starke Verben Klasse 7b
       praetpraes - Praeteritopraesentia
         s&iuml;n - s&icirc;n / sein
           wurzel - Wurzelverben

     
     
     zeichen:  Dieses Attribut enthaelt Satzzeichen, das nach dem Wort im
               Korpus steht, sofern es im Originalkorpus annotiert war.
     zweit...: Manche Woerter sind zweifach annotiert, z.B.
               substantivierte Infinitive primaer als Substantive, aber
               auch als Verben; diese sekundaeren Annotationen stehen in
               Attributen, die mit 'zweit' beginnen
-->
<!ATTLIST wortform
    nr CDATA  #REQUIRED
    kennung ID #REQUIRED
    adverbial   (ja|nein|unbekannt) "unbekannt"
    istprefix   (ja|nein) "nein"
    istverbal   (ja|nein) "nein"
    form        (infinitiv|partizip|finit|unbekannt|irrelevant) "irrelevant"
    seite       CDATA #REQUIRED
    zeile       CDATA #REQUIRED
    lemma       CDATA #IMPLIED
    gefunden    CDATA #IMPLIED
    praefix     CDATA #IMPLIED
    suffix      CDATA #IMPLIED
    vokal       CDATA #IMPLIED
    zeichen     CDATA #IMPLIED
    flexiv      CDATA #IMPLIED
    klasse      CDATA #IMPLIED
    komparation CDATA #IMPLIED
    komparationsstufe (superlativ|komparativ|positiv|unbekannt|irrelevant) "irrelevant"
    person      (1|2|3|unbekannt|irrelevant) "irrelevant"
    numerus     (singular|plural|unbekannt|irrelevant) "irrelevant" 
    kasus       (nominativ|genitiv|dativ|akkusativ|unbekannt|irrelevant) "irrelevant"
    modus       (imperativ|indikativ|konjunktiv|unbekannt|irrelevant) "irrelevant"
    genus       (maskulinum|femininum|neutrum|unbekannt|irrelevant) "irrelevant"
    tempus      (praesens|praeteritum|unbekannt|irrelevant) "irrelevant"
    typ         (substantiv|adjektiv|verb|unbekannt|potentiell) "unbekannt"
    zweitadverbial   (ja|nein|unbekannt) "unbekannt"
    zweitform        (infinitiv|partizip|finit|unbekannt|irrelevant) "irrelevant"
    zweitklasse      CDATA #IMPLIED
    zweitlemma       CDATA #IMPLIED
    zweitgefunden    CDATA #IMPLIED
    zweitpraefix     CDATA #IMPLIED
    zweitsuffix      CDATA #IMPLIED
    zweitvokal       CDATA #IMPLIED
    zweitzeichen     CDATA #IMPLIED
    zweitflexiv      CDATA #IMPLIED
    zweitkomparation CDATA #IMPLIED
    zweitkomparationsstufe (superlativ|komparativ|positiv|unbekannt|irrelevant) "irrelevant"
    zweitperson      (1|2|3|unbekannt|irrelevant) "irrelevant"
    zweitnumerus     (singular|plural|unbekannt|irrelevant) "irrelevant" 
    zweitkasus       (nominativ|genitiv|dativ|akkusativ|unbekannt|irrelevant) "irrelevant"
    zweitmodus       (imperativ|indikativ|konjunktiv|unbekannt|irrelevant) "irrelevant"
    zweitgenus       (maskulinum|femininum|neutrum|unbekannt|irrelevant) "irrelevant"
    zweittempus      (praesens|praeteritum|unbekannt|irrelevant) "irrelevant"
    zweittyp         (substantiv|adjektiv|verb|unbekannt|potentiell) "unbekannt"
    >
    


<!ENTITY sect "&#167;"> <!-- Paragraphenzeichen -->

<!-- Diakritische Unicode-Zeichen, die ueber das vorherige Zeichen tritt
-->
  <!ENTITY UML "&#776;"> <!-- Umlaut -->
  <!ENTITY AKUT "&#769;"> <!-- Akut -->
  <!ENTITY PUNKT "&#775;"> <!-- einzelner Punkt -->
  <!ENTITY barsuper "&#773;"> <!-- horizontaler Strich -->
  <!ENTITY asuper "&#867;"> 
          <!-- In Unicode 3.2 voraussichtlich a superscriptum-->
  <!ENTITY esuper "&#868;"> 
          <!-- In Unicode 3.2 voraussichtlich e superscriptum-->
  <!ENTITY isuper "&#869;"> 
          <!-- In Unicode 3.2 voraussichtlich i superscriptum-->
  <!ENTITY osuper "&#870;"> 
          <!-- In Unicode 3.2 voraussichtlich o superscriptum-->
  <!ENTITY usuper "&#871;">
          <!-- In Unicode 3.2 voraussichtlich u superscriptum-->
  <!ENTITY csuper "&#872;">
          <!-- In Unicode 3.2 voraussichtlich c superscriptum-->
  <!ENTITY dsuper "&#873;">
          <!-- In Unicode 3.2 voraussichtlich d superscriptum-->
  <!ENTITY hsuper "&#874;">
          <!-- In Unicode 3.2 voraussichtlich h superscriptum-->
  <!ENTITY msuper "&#875;">
          <!-- In Unicode 3.2 voraussichtlich m superscriptum-->
  <!ENTITY rsuper "&#876;">
          <!-- In Unicode 3.2 voraussichtlich r superscriptum-->
  <!ENTITY tsuper "&#877;">
          <!-- In Unicode 3.2 voraussichtlich t superscriptum-->
  <!ENTITY nsuper "&#878;">
          <!-- In Unicode 3.2 voraussichtlich n superscriptum-->
  <!ENTITY vsuper "&#879;">
          <!-- In Unicode 3.2 voraussichtlich v superscriptum-->
  <!ENTITY ssuper "&#830;">
          <!-- uebergeschriebene vertikale Tilde, steht fuer
               s superscriptum -->
  <!ENTITY atsuper "&#794;">
          <!-- uebergeschriebenes NICHT-Zeichen steht fuer
               @ superscriptum -->
  <!ENTITY fragsuper "&#777;"> 
          <!-- uebergeschriebener Halbkreis steht fuer
               unbekanntes Superskript -->
  <!ENTITY oelig "&#339;">
          <!-- Ligatur aus o und e -->
  <!ENTITY OElig "&#338;">
          <!-- Ligatur aus O und E -->

<!ENTITY cent  "&#162;"> 

<!-- Alle latin1-Zeichen als Entitaeten.  Im XML-Text wurden kombinierte
     Zeichen (Zeichen mit Diakritika) prinzipiell nicht verwandt, sondern
     durch e&AKUT; oder a&UML; etc. wiedergegeben. 
-->
<!ENTITY Agrave "&#192;">
<!ENTITY Aacute "&#193;">
<!ENTITY Acirc "&#194;">
<!ENTITY Atilde "&#195;">
<!ENTITY Auml "&#196;">
<!ENTITY Aring "&#197;">
<!ENTITY AElig "&#198;">
          <!-- Ligatur aus A und E -->
<!ENTITY Ccedil "&#199;">
<!ENTITY Egrave "&#200;">
<!ENTITY Eacute "&#201;">
<!ENTITY Ecirc "&#202;">
<!ENTITY Euml "&#203;">
<!ENTITY Igrave "&#204;">
<!ENTITY Iacute "&#205;">
<!ENTITY Icirc "&#206;">
<!ENTITY Iuml "&#207;">
<!ENTITY ETH "&#208;">
<!ENTITY Ntilde "&#209;">
<!ENTITY Ograve "&#210;">
<!ENTITY Oacute "&#211;">
<!ENTITY Ocirc "&#212;">
<!ENTITY Otilde "&#213;">
<!ENTITY Ouml "&#214;">
<!ENTITY Oslash "&#216;">
<!ENTITY Ugrave "&#217;">
<!ENTITY Uacute "&#218;">
<!ENTITY Ucirc "&#219;">
<!ENTITY Uuml "&#220;">
<!ENTITY Yacute "&#221;">
<!ENTITY THORN "&#222;">
<!ENTITY szlig "&#223;">
<!ENTITY agrave "&#224;">
<!ENTITY aacute "&#225;">
<!ENTITY acirc "&#226;">
<!ENTITY atilde "&#227;">
<!ENTITY auml "&#228;">
<!ENTITY aring "&#229;">
<!ENTITY aelig "&#230;">
          <!-- Ligatur aus a und : -->
<!ENTITY ccedil "&#231;">
<!ENTITY egrave "&#232;">
<!ENTITY eacute "&#233;">
<!ENTITY ecirc "&#234;">
<!ENTITY euml "&#235;">
<!ENTITY igrave "&#236;">
<!ENTITY iacute "&#237;">
<!ENTITY icirc "&#238;">
<!ENTITY iuml "&#239;">
<!ENTITY eth "&#240;">
<!ENTITY ntilde "&#241;">
<!ENTITY ograve "&#242;">
<!ENTITY oacute "&#243;">
<!ENTITY ocirc "&#244;">
<!ENTITY otilde "&#245;">
<!ENTITY ouml "&#246;">
<!ENTITY oslash "&#248;">
<!ENTITY ugrave "&#249;">
<!ENTITY uacute "&#250;">
<!ENTITY ucirc "&#251;">
<!ENTITY uuml "&#252;">
<!ENTITY yacute "&#253;">
<!ENTITY thorn "&#254;">
<!ENTITY yuml "&#255;">

<!ENTITY        ahe             "a&#868;">
<!ENTITY        ohe             "o&#868;">
<!ENTITY        uhe             "u&#868;">
<!ENTITY        uho             "u&#870;">
<!ENTITY        aine            "&#x00E6;"> <!-- = &aelig-->
<!ENTITY        alang           "a&#773;">
<!ENTITY        elang           "e&#773;">
<!ENTITY        nlang           "n&#773;">
<!ENTITY        olang           "o&#773;">
<!ENTITY        grad            "&#x00BA;">
<!ENTITY        tot             "&#x2020;">
